/* CSS Reset */
*{box-sizing: border-box;}
*:before, *:after{box-sizing: border-box;} 
*{margin:0;padding: 0;}
ul,ol{list-style: none;}

/* common */
:root {
    --color-base: pink;
}

/* iconfont settings */
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/* style */
body {
    background: #eee;
}
.globalHeader {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

input {
    width: 100%;
    margin-right: 20px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    white-space: nowrap;
    padding: 0 28px;
    border:none;
    /* background: #0282B9; */
    background: pink;
    color: white;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
}
.globalMain{
    margin: 20px;
    /* border: 1px solid yellow */
}

.siteList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/**
* PC端，平均布局
**/
@media(min-width: 500px) {
    .globalHeader {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .globalHeader > input:focus {
        outline: none;
    }

    .globalMain {
        max-width: 900px;
        margin-left:auto;
        margin-right:auto;
    }

    .globalMain .siteList {
        margin-right: -37.5px;
        justify-content: start;
        flex-wrap: wrap;
    }
    .siteList>li{
        margin-right: 37.5px;
        margin-top: 20px;
    }

    .siteList>li:hover{
        border: 1px solid pink;
    }

    .siteList .site{
        cursor: pointer;
    }

    .siteList .site .close { 
        cursor: default;
        display: none;
    }

    .siteList .site:hover .close {
        display: block;
    }
}

.siteList>li{
    width: 150px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.siteList .site{
    padding: 18px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.siteList .site > .logo{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: pink;
    line-height: 48px;
    font-size: 24px;
    color:white;
}

.siteList .site > .title{
    font-size: 14px;
    margin-top: 4px;
    color: #333;
}

.siteList .site > .desc{
    font-size: 12px;
    margin-top: 4px;
    color: #666;
    padding: 5px 10px;
}

.siteList .site .icon{
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
}
.siteList .addButton {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.siteList .addButton .icon {
    width: 48px;
    height: 48px;
    color: pink;
}

.siteList .addButton .text {
    font-size: 14px;
    margin-top: 15px;
    color: #666;
}

.siteList .site .close { 
    color: pink;
}

#siteInfo {
    display: none;
    font-size: 14px;
}

#siteInfo input{
    height: 30px;
    width: 100%;
    margin-bottom: 5px;
}
