/* @import url('../style/common.css'); */
/* iconfont settings */
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/* style */
body {
    /* background: #eee; */
    background: #fff;
}
.globalHeader {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

input {
    width: 100%;
    margin-right: 20px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    /* color: #999; */
    color: var(--color-border)
}

button {
    white-space: nowrap;
    padding: 0 28px;
    border:none;
    /* background: #0282B9; */
    background: var(--color-base);
    color: var(--color-border);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
}
.globalMain{
    margin: 20px;
}

.siteList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.globalHeader > button {
    background: none;
}

/**
* PC端，平均布局
**/
@media(min-width: 500px) {
    .globalHeader {
        /* max-width: 500px; */
        width: 100%;
        
    }

    .globalHeader > input {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .globalHeader > button {
        margin-right: 10px;
        margin-top: -20px;
    }

    .globalHeader > input:focus {
        outline: none;
    }

    .globalMain {
        max-width: 900px;
        margin-left:auto;
        margin-right:auto;
    }

    .globalMain .siteList {
        margin-right: -37.5px;
        justify-content: start;
        flex-wrap: wrap;
    }
    .siteList > li {
        position: relative;
        margin-right: 37.5px;
        margin-top: 20px;
    }

    .siteList .site{
        cursor: pointer;
    }

    .siteList .site .close { 
        cursor: pointer;
        display: none;
    }

    .siteList .site .close .icon { 
        animation: fade .25s cubic-bezier(0,0,0.25,1);
    }

    .siteList .site:hover .close {
        display: block;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

.siteList>li{
    width: 150px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 2px solid var(--color-border);
    border-radius: 8px;
}

.siteList .site{
    padding: 18px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.siteList .site > .logo{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--color-base);
    line-height: 48px;
    font-size: 24px;
    color:var(--color-border);
    font-family: "HarmonyOS_Sans_Bold";
}

.siteList .site > .title{
    font-size: 14px;
    margin-top: 4px;
    color: #3e3e3e;
    /* color: var(--color-base); */
    font-family: "HarmonyOS_Sans_Bold";
}

.siteList .site > .desc{
    font-size: 12px;
    margin-top: 4px;
    color: #999;
    /* color: var(--color-base); */
    padding: 5px 10px;
    /* font-family: "HarmonyOS_Sans_Light";; */
}

.siteList .site .icon{
    font-size: 24px;
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--color-border);
    border-radius: 50%;
}

.siteList li:last-child {
    background: var(--color-base);
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--color-base);
}
.siteList .addButton {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "HarmonyOS_Sans_Bold";
}

.siteList .addButton .icon {
    width: 48px;
    height: 48px;
    color:var(--color-border);
}

.siteList .addButton .text {
    font-size: 14px;
    margin-top: 15px;
    color: var(--color-border);
    font-weight: 600;
}

#siteInfo {
    display: none;
    font-size: 14px;
}

#siteInfo input{
    height: 30px;
    width: 100%;
    margin-bottom: 5px;
}
